@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --red-shade: rgba(255, 0, 0, 0.712)
}

.App {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--red-shade);
  font-size: 2em;
  border-bottom: 4px solid;
}
.App-body {
  padding: 2em;
  border-bottom: 4px solid var(--red-shade);
  height: 50vh;
}
.App-footer {
  text-align: center;
  padding: .5em;
  font-style: italic;
}

img {
  width: 300px;

}

form input {
  margin: 10px;
}